@import "tailwindcss";

@theme {
  --color-txtBlk: #040316;
  --color-bckground: #fbfbfe;
  --color-primary: #a84d7a;
  --color-secondary: #6b1e57;
  --color-accent: #d25191;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
